.formation-content {
    max-width:1100px;
    padding: 40px;
    height: 100vh;
    margin: 30px auto;
    background: url(../asset/image/formation.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
  }

  .formation-title {
    align-items: center;
    display: flex;
    font-size: 40px;
  }