  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  .container {
    padding: 16px;
  }
  
  .container label b {
      font-size: 22px ;
  }
  .formu-logo{
    height: 32px;
    width: 32px;
    margin-right: 10px;
  }

  /* Modal Content/Box */
.modal-formulaire-content {
    background-color: #FDC543;
    margin: 4% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 1400px;
    color:white;
  }
  
  /* The Close Button (x) */
  .close-formulaire {
    position: absolute;
    right: 25px;
    top: 0;
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    margin: -30px 0 0 0;
  }
  
  .close-formulaire:hover,
  .close-formulaire:focus {
    color: rgb(41, 39, 39);
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

.title-box{
  margin-left: 3%;
  font-size: 35px;
  font-family: 'gala-medium';
}

.title-box p{
  margin: 0;
}

.box{
  margin: 2% 7% 0 7%;
  display: flex;
  justify-content:space-between;
}

.box div h4 {
  font-family: 'bold';
}

.box div label {
  font-family: 'regular';
}

input[type=checkbox] + label {
  display: block;
  margin: 1px;
}

input[type=checkbox]{
  display:none;
}

input[type=checkbox] + label:before{
  content: "\2714";
  border: 0.1em solid #fff;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
}

input[type=checkbox]:checked:before {
  background-color: black;
  color: #fff;
}

.commentaire{
  margin:50px 0 0 57px;
  background-color: transparent;
  border: 1 solid white;
  color: white;
}

.valide button{
  height: 38px;
  width: 150px;
  margin:50px 0 0 400px;
  background-color: #fff;
  border:none;
  color:#FDC543;
  cursor: pointer;
}

