@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

.nav {
    background-color: var(--off-white);
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
  
.nav-logo {
    height: 90px;
    width: 90px;
}
  
.nav-logo:hover {
    cursor: pointer;
}

button {
    font-family: 'gala-medium';
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
}

.nav .nav-content {
    max-width: 1300px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
  
.nav_links button {
    height: 38px;
    width: 150px;
    display: inline-block;
    margin:0 0 0 50px;
    outline: none;
    border: 2px solid black;
    background-color: transparent;
    transition: all 0.3s ease 0s;
}

a {
    text-decoration: none;
    display: inline-block;
}

.underline-animation::after {
    content: '';
    display: block;
    margin:2px 0 0 47px;
    width: 0%;
    height: 1.5px;
    background:black;
    transition: width .3s;
}

.underline-animation:hover::after {
    width: 30%;
}

    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

.button-item button {
    height: 38px;
    width: 150px;
    margin:8px 0 0 0px;
    background-color: #FDC543;
    border:none;
    color:white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button-item button:hover {
    background-color: #fdd67b;
}

button:focus {outline:0;}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .overlay-opacity {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
  }

  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  .container {
    padding: 16px;
  }

  .container label b {
      font-size: 25px ;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    font-family: 'gala-medium';
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
    height: 300px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }