.test-content {
    background-color: white;
    max-width:1100px;
    padding: 40px;
    height: 100vh;
    margin: 30px auto;
  }

  .test-title {
    margin: 60px 0 0 60px;
    font-size: 40px;
  }

  .wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .wrapper .wrapper-box-1 {
    border: 1px solid black;
    width: 250px;
    height: 550px;
    background: url(../asset/image/test-background.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .wrapper .wrapper-box-2 {
    border: 1px solid black;
    width: 250px;
    height: 550px;
    background: url(../asset/image/test1-background.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .wrapper .wrapper-box-3 {
    border: 1px solid black;
    width: 250px;
    height: 550px;
    background: url(../asset/image/test3-background.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .wrapper button {
    margin: 86% 0 0 14%;
    height: 70px;
    width: 180px;
    position: relative;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    outline: none;
    border: none;
    align-items: center;
    background-color: transparent;
  }

  .wrapper button::before {
    position: absolute;
    content: '';
    height: 70px;
    width: 0;
    border: 1px solid black;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
  }

  .wrapper button::after {
    position: absolute;
    content: '';
    height: 70px;
    width: 0;
    border: 1px solid black;
    top: 0;
    right: 0;
    box-sizing: border-box;
  }

  .wrapper button:hover::before{
    height: 70px;
    width: 180px;
    border: 3px solid black;
    border-right: none;
    border-bottom: none;
    transition: height 0.4s linear,
                width 0.4s linear 0.4s;
  }

  .wrapper button:hover::after{
    height: 70px;
    width: 180px;
    border: 3px solid black;
    border-left: none;
    border-top: none;
    transition: height 0.4s linear,
                width 0.4s linear 0.4s;
  }

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

.container label b {
    font-size: 22px ;
}

.modal-formulaire {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}