.home-content {
    max-width:1100px;
    padding: 40px;
    height: 70vh;
    margin: 30px auto;
    background-color: #FDC543;
    background: url(../asset/image/intro.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
  }
  .home-title {
    margin: 60px 0 0 60px;
    font-size: 40px;
  }