.about-content {
    max-width:1100px;
    padding: 40px;
    height: 100vh;
    margin: 30px auto;
    background: url(../asset/image/valeurs.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
  }

  .about-title {
    margin: 60px 0 0 60px;
    font-size: 40px;
    cursor: pointer;
  }

  .about-title a, a:visited, a:hover, a:active {
    color: inherit;
  }

  .about-body {
    margin: 30px auto;
  }

  .about-link {
    margin: 30px auto;
    font-weight: bold;
    text-decoration: underline;
    color: black;
  }