html { 
  background: url(asset/image/background-adw.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'gala-medium';
  src: url(asset/fonts/gala-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'bold';
  src: url(asset/fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'regular';
  src: url(asset/fonts/OpenSans-Regular.ttf) format('truetype');
}

:root {
  --off-white: #fff;
}

h1{
  font-family: 'gala-medium';
}
