.footer-content {
    max-width: 100%;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: black;
    color: white;
    font-family: 'regular';
 }

 .social-logo {
     width: 24px;
     height: 24px;
     margin-right: 1em;
 }

 .logo {
    width: 100px;
    height: 70px;
 }